<div class="col-md-12">
	<div class="sachinStat odiTile">
		<h2>Social Feed</h2>
			<a class="twitter-timeline" href="https://twitter.com/becomingGuru" data-widget-id="YOUR-WIDGET-ID-HERE" data-list-owner-screen-name="brianellin" data-list-slug="platform-products">
			   Tweets from @becomingGuru.
			</a>
	</div>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>