<div class="row">
  <div class="col-md-12">
    <div class="col-md-offset-2 col-md-3">
      <h2>
        <span class="glyphicon glyphicon-comment"></span>
        Bonjour
      </h2>
      <p>You now have</p>
      <ul>
          <li ng-repeat="thing in awesomeThings">{{thing}}</li>
      </ul>
      <p>installed.</p>
    </div>
    <div class="col-md-6">
      <h2>
        <span class="glyphicon glyphicon-question-sign"></span>
        Need help? I'm available for hire
      </h2>
      <ul>
        <li>email : <a href="mailto:dsimard@azanka.ca">dsimard@azanka.ca</a>
        <li>github : <a href="https://github.com/dsimard">dsimard</a>
        <li>twitter : <a href="https://twitter.com/azanka">@azanka</a>
      </ul>
    </div>
  </div>
</div>