<div class="col-md-12">
	<div class="sachinStat odiTile">
		<div class="btn-group topBar" data-toggle="buttons" ng-hide="currentView=='/FarewellSpeech'">
		  <label class="btn btn-primary active">
		    <input type="radio" name="formats" value="odi"> ODI
		  </label>
		  <label class="btn btn-primary">
		    <input type="radio" name="formats" value="test"> Test
		  </label>
		</div>
		{{view}}
        <div class="chart-container">
        	<div ng-show="currentView=='/ScoreBuckets'">
            	<chart height="320" chart-id="scoreBuckets"></chart>
        	</div>
        	<div ng-show="currentView=='/ResultBuckets'">
        		<chart height="320" chart-id="resultBucketsWithSachin"></chart>
            	<chart height="320" chart-id="resultBucketsWithoutSachin"></chart>
        	</div>
        	<div ng-show="currentView=='/WonLostCenturiesInnning'"> 
				<chart height="320" chart-id="winLoss"></chart>
				<chart height="320" chart-id="centuryVsBattingOrder"></chart>
			</div>
	        <!-- <chart height="320" chart-id="chosenStat"></chart> -->
	        <div ng-show="currentView=='/RecordChart'"> 
	        	<chart height="320" chart-id="recordChart"></chart>
	        </div>
	        <div ng-show="currentView=='/LifeTimeChart'"> 
		        <chart height="320" chart-id="areaChart"></chart>
		        <chart height="320" chart-id="winLossChart"></chart>
	       	</div>
	       	<div ng-show="currentView=='/FindOutYourSelf'">
	       		<div class="subBar">
		       		Sachin's Score: <input type=number class="inputBox" ng-model="score"/>
		       		<button ng-click="scoreWonLostPercent(score)">Get Won Lost % Charts</button>
		       	</div>
		        <chart height="320" chart-id="wonLostAt"></chart>
		        <chart height="320" chart-id="aboveBelowWonLostPercentAt"></chart>
	       	</div>
	       	<div ng-show="currentView=='/FarewellSpeech'"> 
				<iframe width="100%" height="320" 
					src="http://www.youtube.com/embed/CfCBWUkWzXM?autoplay=true" 
					frameborder="0" allowfullscreen>
				</iframe>
	       	</div>
	       	
        </div>
	</div>
</div>
