<div class="col-md-12">
	<div class="sachinStat odiTile">
		<div class="btn-group hc-bars" data-toggle="buttons">
		  <label class="btn btn-primary active">
		    <input type="radio" name="formats" value="odi"> ODI
		  </label>
		  <label class="btn btn-primary">
		    <input type="radio" name="formats" value="test"> Test
		  </label>
		</div>
        <div class="chart-container">
            <chart height="320" chart-id="scoreBuckets"></chart>
            <chart height="320" chart-id="resultBuckets"></chart>
			<chart height="320" chart-id="centuryVsBattingOrder"></chart>
			<chart height="320" chart-id="winLoss"></chart>
	        <chart height="320" chart-id="chosenStat"></chart>
	        <chart height="320" chart-id="recordChart"></chart>
	        <chart height="320" chart-id="areaChart"></chart>
	        <chart height="320" chart-id="winLossChart"></chart>
        </div>
	</div>
</div>
