<div class="col-md-12">
    <div class="sachinStat testTile">
        <h2>Career Summary</h2>

        <div class="btn-group">
            <button type="button" class="btn btn-default">Left</button>
            <button type="button" class="btn btn-default">Middle</button>
            <button type="button" class="btn btn-default">Right</button>
        </div>

        <div class="centeredChart">
            <chart height="280" width="285" chart-id="chosenStat"></chart>
        </div>
        <br/>
        <div class="btn-group">
            <button type="button" class="btn btn-default">Left</button>
            <button type="button" class="btn btn-default">Middle</button>
            <button type="button" class="btn btn-default">Right</button>
        </div>

    </div>
</div>
