<div class="col-md-12">
    <div class="sachinStat testTile">
        <div class="btn-group topBar" data-toggle="buttons" ng-hide="currentView=='/FarewellSpeech'">
          <label class="btn btn-primary active">
            <input type="radio" name="formats" value="odi"> ODI
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="formats" value="test"> Test
          </label>
        </div>

        <div class="centeredChart">
            <chart chart-id="chosenStat"></chart>
        </div>
        <div class="bottomBar">
            <div class="bottomBarContainer">
                <div class="btn-group">
                    <button ng-model="chosen_option.json_option" btn-radio="'{{ item }}'" ng-repeat="item in charting_options.json_options" type="button" class="btn btn-default">{{ item }}</button>
                </div>
                <div class="btn-group">
                    <button ng-model="chosen_option.attr_option" btn-radio="'{{ item }}'" ng-repeat="item in charting_options.attr_options" type="button" class="btn btn-default">{{ item }}</button>
                </div>
            </div>
        </div>

    </div>
</div>
