<div class="col-md-12">
    <div class="sachinStat testTile">
        <h2>Career Summary</h2>

        <div class="btn-group">
            <button ng-model="chosen_option.json_option" btn-radio="'{{ item }}'" ng-repeat="item in charting_options.json_options" type="button" class="btn btn-default">{{ item }}</button>
        </div>

        <div class="centeredChart">
            <chart height="400" chart-id="chosenStat"></chart>
        </div>
        <br/>
        <div class="btn-group">
            <button ng-model="chosen_option.attr_option" btn-radio="'{{ item }}'" ng-repeat="item in charting_options.attr_options" type="button" class="btn btn-default">{{ item }}</button>
        </div>

    </div>
</div>
